

      <h2>Kontaktní údaje</h2>
      <p>

        Meijin, a.s., IČ: 09914471, se sídlem Praha, Nové Město, Na Moráni 345/11, PSČ 128 00
      </p>
      <p>
        Zapsaná v obchodním rejstříku vedeném Městským soudem v Praze, v oddíle B, vložka 26080,
      </p>

      <hr />

      <ul class="fa-ul main-list">
        <li class="main-list-item">
          <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
          <a href="mailto:info@meijin.cz">info@meijin.cz</a>
        </li>

          <li class="main-list-item">
              <span class="fa fa-phone fa-lg main-list-item-icon"></span>
              +420 602 490 978
          </li>
<!--          {% assign post_count=site.posts | size %}-->
<!--          {% if post_count > 0 %}-->
<!--          <h5>Pozvánky na valnou hromadu</h5>-->
<!--          {% endif %}-->

          {% for post in site.posts %}
          <li><a href="{{ post.url | relative_url }}">{{post.title}}</a></li>
          {% endfor %}

      </ul>



